/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    color: blue;
    line-height: 1.6;
}
/* header */
/*.header{
    background: azure;
    color: brown;
    padding: 20px 0;
    text-align: center;
}
/* nav-bar */
/* .nav-bar{
background: burlywood;
display:flex ;
justify-content: center;
gap: 30px;
padding: 15px;
}
.nav-bar a:hover{
    text-decoration: double;
}
.aside-bar{
width: 100px;
background: black;
color: whitesmoke;
padding: 20px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.side-nav a{
    display: block;
    padding: 12px 0;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    text-decoration: none;
    font-size: 20px;
/* } */
/* .container{
    max-width: 800px;
    margin: 20px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    flex: 1; */
/* }
.layout{
    display: flex;
    min-height: 100vh;
}
.footer {
    background: chartreuse;
    color: blue;
    text-align: center;
    margin-top: 50px;
    padding-top: 15px;
    border-top: 1px solid #ccc;
}  */ */
